<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error: {{message}}</title>
    <meta name ="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/template.css') }}">
  </head>
  <body>
    <div class = "error">
        Error: {{message}}
    </div>
    <footer class ="footer">
      <div>  
      <a href='http://www.utsc.utoronto.ca/cms/faculty-of-computer-science'>Faculty of Computer Science at UofT</a>
      <p>Site designed by Du Han and Yanjia Gong and Yujie Li</p>
      </div>  
</footer>
  </body>
</html>

