<!DOCTYPE html>
<html lang="en" dir="ltr"> 
    <head>
        <title>CSCB63 lab</title>
        <meta name ="viewport" content="width=device-width,initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/template.css') }}">
</head>

<body>
    {% extends "index.html" %}
    {% block content %}
    <div class="labs">
        
        <div class="ssgrid-container">
            <div class="title">
                <h3>Week</h3>
            </div>
            <div class="title">
                <h3>Topic</h3>
            </div>
            <div class="title">
                <h3>Handout</h3>
            </div>
            <div class="title">
                <h3>Solutions</h3>
            </div>
            <div class="weekly-handout">
                1
            </div>
            <div class="weekly-handout">
                No tutorial
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
                2
            </div>
            <div class="weekly-handout">
                Worst Case Complexity
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Handout_1</button></a>
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Solution_1</button></a>
            </div>
            <div class="weekly-handout">
                3
            </div><div class="weekly-handout">
                Balanced Search Trees
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
                4
            </div>
            <div class="weekly-handout">
                Graphs and Graph Traversals
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Handout_2</button></a>
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Solution_2</button></a>
            </div>
            <div class="weekly-handout">
                5
            </div>
            <div class="weekly-handout">
                Priority Queues and Heaps
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
                6
            </div>
            <div class="weekly-handout">
                Priority Queues and Heaps
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Handout_3</button></a>
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Solution_3</button></a>
            </div>
            <div class="weekly-handout">
                7
            </div>
            <div class="weekly-handout">
                Reading Week
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">   
            </div>
            <div class="weekly-handout">
                8
            </div>
            <div class="weekly-handout">
                Disjoint Sets
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Handout_4</button></a>
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Solution_4</button></a>
            </div>
            <div class="weekly-handout">
                9
            </div>
            <div class="weekly-handout">
                Amortizes Complexity
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Handout_5</button></a>
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Solution_5</button></a>
            </div>
            <div class="weekly-handout">
                10
            </div>
            <div class="weekly-handout">
                Average Case Analysis
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
            </div>
            <div class="weekly-handout">
                11
            </div>
            <div class="weekly-handout">
                Average Case Analysis
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Handout_6</button></a>
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Solution_6</button></a>
            </div>
            <div class="weekly-handout">
                12
            </div>
            <div class="weekly-handout">
                Hashing
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Handout_7</button></a>
            </div>
            <div class="weekly-handout">
                <a class="grabbing"href="http://www.cs.toronto.edu/~vassos/teaching/c63/hwk/1.pdf" >Solution_7</button></a>
            </div>

    </div>
    {% endblock  %}


    <footer class ="footer">
        <div>
            
		    <a href='http://www.utsc.utoronto.ca/cms/faculty-of-computer-science'>Faculty of Computer Science at UofT</a>
		    <p>Site designed by Du Han, Yanjia Gong and Yujie Li</p>
        </div>  
	</footer>

</body>
</html>
